
<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Lista", properties_path(:format => :js) , :remote => true , 'data-toggle' => 'tab' %></li>
  <li><%= link_to "Comments", {:controller => "properties", :action => "new" , :format => :js}, :remote => true , 'data-toggle' => 'tab'%></li>
</ul>
 