
<ul class="nav nav-tabs">
  <li class="active"><a href="propiedades">Lista</a></li>
  <li><%= link_to "Nueva Propiedad", nueva_propiedad_path(:format => :js), :remote => true , 'data-toggle' => 'tab' %></li>
</ul>
 