<ul class="nav nav-tabs">
  <li class="active"><%= link_to '<i class="icon-th-list"></i> Lista'.html_safe, properties_path(:format => :js) , :remote => true , 'data-toggle' => 'tab' %></li>
  <li><%= link_to '<i class="icon-plus"></i> Agregar Nueva'.html_safe, {:controller => "properties", :action => "new" , :format => :js}, :remote => true , 'data-toggle' => 'tab'%></li>
</ul>
 <div id="content" class="tab-pane active"> 
 	<%- model_class = Property.new.class -%>  
  <%= render(:file => 'properties/index') %>
</div>