	<header>
			<%= link_to logo,root_path %>
		
		<nav>
			<div class="navbar">
  				<div class="navbar-inner">
   					 <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
     					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
        					<span class="icon-bar"></span>
      					</a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <a class="brand" href="#">IPASA</a>
		<ul class="nav">
       			<li class="active"></li>
        		<li><%= link_to "Home" %></li>
        		<li><%= link_to "Ayuda" %></li>
        		<li><%= link_to "Sing Up" %></li>
		</ul>
    <div class="nav-collapse"></div>
 
    				</div>
  			</div>
		</div>
 </nav>
</header>