<header>
	<%= link_to logo,root_path %>
  <nav>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">IPASA</a>
  		    <ul class="nav">
          	<li><%= link_to "Home" %></li>
          	<li><%= link_to "Ayuda" %></li>
  		    </ul>
        </div>
    	</div>
  	</div>
  </nav>
</header>