<div class="well sidebar-nav lateral">
<ul class="nav nav-list">
  <li class="nav-header">
    Propiedad
  </li>
    <li>
    <%= link_to "Listado de Propiedades", propiedades_path %>
    <li> </li>
      <li class="nav-header">
    Perfiles
  </li>
    <li>
    <%= link_to "Listado de Perfiles", perfiles_path %>
    <li> </li>
  	 
</ul>
</div>